@import "../../App.scss";

.wrapper {
  transform: translate(0, -10vw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    background-color: #fff;
    width: 80vw;
    z-index: 1;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .block {
      margin: 1vw;
      .blockHeader {
        display: flex;
        align-items: center;
        margin-bottom: 2vw;
        img {
          width: 7vw;
          height: 7vw;
          margin: 1vw;
        }
        p {
          margin: 1vw;
          font-size: 1.5vw;
          font-weight: 500;
        }
      }
      .blockBottom {
        padding: 0 1.5vw;
        font-size: 1vw;
      }
    }
  }
}
